HardwareInventoryService.ServicesReferences/Connected Services/AuthorizationServiceReference/AuthorizationWCFContractProxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorizationWCFContractProxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models" />
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models.Authorization" />
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorizationWCFContract_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_Authorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_Authorize_ExceptionDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models" name="detail" element="q1:ExceptionDetail" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_Deauthorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Deauthorize" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_Deauthorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeauthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_Deauthorize_ExceptionDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models" name="detail" element="q2:ExceptionDetail" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationWCFContract_ChangePassword_ExceptionDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models" name="detail" element="q3:ExceptionDetail" />
  </wsdl:message>
  <wsdl:portType name="IAuthorizationWCFContract">
    <wsdl:operation name="Authorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/Authorize" message="tns:IAuthorizationWCFContract_Authorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/AuthorizeResponse" message="tns:IAuthorizationWCFContract_Authorize_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/AuthorizeExceptionDetailFault" name="ExceptionDetailFault" message="tns:IAuthorizationWCFContract_Authorize_ExceptionDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deauthorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/Deauthorize" message="tns:IAuthorizationWCFContract_Deauthorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/DeauthorizeResponse" message="tns:IAuthorizationWCFContract_Deauthorize_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/DeauthorizeExceptionDetailFault" name="ExceptionDetailFault" message="tns:IAuthorizationWCFContract_Deauthorize_ExceptionDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/ChangePassword" message="tns:IAuthorizationWCFContract_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/ChangePasswordResponse" message="tns:IAuthorizationWCFContract_ChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorizationWCFContract/ChangePasswordExceptionDetailFault" name="ExceptionDetailFault" message="tns:IAuthorizationWCFContract_ChangePassword_ExceptionDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorizationWCFContract" type="tns:IAuthorizationWCFContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationWCFContract/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Deauthorize">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationWCFContract/Deauthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationWCFContract/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizationWCFContractProxy">
    <wsdl:port name="BasicHttpBinding_IAuthorizationWCFContract" binding="tns:BasicHttpBinding_IAuthorizationWCFContract">
      <soap:address location="http://localhost:8070/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>