HardwareInventoryService.ServicesReferences/Connected Services/AuthorizationServiceReference/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8070/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models.Enums" />
  <xs:complexType name="ExceptionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HardwareInventoryService.Models.Models.Enums" minOccurs="0" name="Status" type="q1:ErrorCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionDetail" nillable="true" type="tns:ExceptionDetail" />
</xs:schema>